astroid==1.4.8
backports.functools-lru-cache==1.2.1
chardet==2.3.0
click==6.6
configparser==3.5.0
Django==1.10
eventlet==0.19.0
Flask==0.11.1
Flask-Sijax==0.4.1
Flask-WTF==0.12
funcsigs==1.0.2
future==0.15.2
greenlet==0.4.10
gunicorn==19.6.0
iso8601==0.1.11
isort==4.2.5
itsdangerous==0.24
Jinja2==2.8
lazy-object-proxy==1.2.2
lockfile==0.12.2
lxml==3.6.4
MarkupSafe==0.23
mccabe==0.5.2
mock==2.0.0
mysql-connector==2.1.4
netaddr==0.7.18
patch==1.16
pbr==1.10.0
psutil==4.3.0
Pygments==2.1
pylint==1.6.4
Pyro4==4.47
python-dateutil==2.5.3
requests==2.11.1
selectors34==1.1
serpent==1.13
Sijax==0.3.2
six==1.10.0
SQLAlchemy==1.1.0b3
Werkzeug==0.11.11
wrapt==1.10.8
WTForms==2.1
youtube-dl==2016.2.22
